body {
	margin: 0;
	min-height: 100%;
	background-color: #fff;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	color: #1b1643;
	font-size: 14px;
	line-height: 20px;
}
.app-body {
	background-color: #f9fafb;
}
nav {
	background: linear-gradient(120deg, #3498db, #8e44ad);
	width: 100%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.btnHome {
		padding: 1rem;
		background-color: #3498db;
		color: #FFF;
		font-weight: 600;
		text-align: center;
		border-radius: .5rem;
		transition: .3s;
	}
}
.mainContainer {
	text-align: center;
	justify-content: center;
	.h1-hero {
		margin-top: 100px;
		color: #1b1643;
	}
	.text-hero {
		margin-top: 10px;
		margin-bottom: 50px;
		color: #575a7b;
		font-size: 16px;
		line-height: 26px;
	}
	.containerHolder {
		display: block;
		padding: 30px;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 0 44px 74px 0 #d7d9db, 0 0 24px 0 #f9fafb;
		width: 50%;
		margin: auto;
		.select {
			position: relative;
			display: inline-flex;
			width: 12em;
			height: 3em;
			border-radius: .25em;
			overflow: hidden;
			margin-right: 0.5rem;
			&::after {
				content: '\25BC';
				position: absolute;
				top: 0;
				right: 0;
				padding: 1em;
				background-color: #f3f3f3;
				transition: .25s all ease;
				pointer-events: none;
			}
			&:hover {
				&::after {
					color: #f39c12;
				}
			}
		}
		select {
			appearance: none;
			outline: 0;
			border: 0;
			box-shadow: none;
			flex: 1;
			padding: 0 1em;
			color: #000;
			background-color: #f3f3f3;
			background-image: none;
			cursor: pointer;
		}
	}
	.containerHolder.card {
		position: relative;
		margin-bottom: 50px;
		padding: 15px;
	}
}
select {
	&::-ms-expand {
		display: none;
	}
}
.containerHolder {
	.btnHome {
		padding: 1rem;
		background-color: #3498db;
		color: #FFF;
		font-weight: 600;
		text-align: center;
		border-radius: .5rem;
		transition: .3s;
	}
	.insideContainer {
		overflow: scroll;
		height: 360px;
		border-radius: 6px;
		background-color: #f6f5f9;
		font-size: 12px;
		line-height: 18px;
	}
}
::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
}
h1 {
	margin: 0 0 0.25em;
}
footer {
	background: linear-gradient(120deg, #3498db, #8e44ad);
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-weight: 300;
	color: #fff;
}